-e .

# contains migrations necessary for Django 1.8 that are not
# available upstream
-e git+https://github.com/nimbis/django-shop@master#egg=django-shop

coverage
setuptools-pep8
sphinx
sphinx-rtd-theme
flake8
