{% extends "shop/base.html" %}
{% load cms_tags shop_tags %}

{% block body %}
<h2>{{ object.get_name }} - ${{ object.unit_price }}</h2>
{% if object.image %}
<img src="{{ MEDIA_URL }}{{ object.image }}" class="img-thumbnail" alt="{{ object.get_name }}" />
{% endif %}
{% if object.description %}
<p>{{ object.description }}</p>
{% endif %}

<form method="post" action="{% url 'cart' %}">
  {% csrf_token %}
  <input type="hidden" name="add_item_id" value="{{ object.pk }}" />
  <input type="text" name="add_item_quantity" value="1" />
  <input type="submit" value="Add to Cart" />
</form>
{% endblock %}
